<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VoteSystem.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
  
    <runtime>
        <asm:assemblyBinding xmlns:asm="urn:schemas-microsoft-com:asm.v1">
            <asm:probing privatePath="Dll"/>
        </asm:assemblyBinding>
        <loadFromRemoteSources enabled="true" />
    </runtime>
    <userSettings>
        <VoteSystem.Client.Properties.Settings>
            <setting name="AS_IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SetVoteTimeSpan" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="AddVoteTimeSpan" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="DefaultVoteTimeSpan" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="TimeSpanWindow_Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TimeSpanWindow_Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AS_VoteRoomName" serializeAs="String">
                <value>将棋投票所</value>
            </setting>
            <setting name="AS_VoteRoomPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="AS_LoginName" serializeAs="String">
                <value>名無し名人</value>
            </setting>
            <setting name="AS_LoginImageUrl" serializeAs="String">
                <value>pack://application:,,,/Resources/Image/koma/koma_noimage.png</value>
            </setting>
            <setting name="IsUseSE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SEVolume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="AS_UserId" serializeAs="String">
                <value>00000000-0000-0000-0000-000000000000</value>
            </setting>
            <setting name="AS_ImageSetDirName" serializeAs="String">
                <value/>
            </setting>
            <setting name="SoundDir" serializeAs="String">
                <value/>
            </setting>
            <setting name="AS_IsUseAsNicoCommenter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AS_IsNicoCommenterAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </VoteSystem.Client.Properties.Settings>
    </userSettings>
</configuration>
